

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-behance:before { content: "\f100"; }
.flaticon-browser:before { content: "\f101"; }
.flaticon-code:before { content: "\f102"; }
.flaticon-coffee:before { content: "\f103"; }
.flaticon-core:before { content: "\f104"; }
.flaticon-facebook:before { content: "\f105"; }
.flaticon-github:before { content: "\f106"; }
.flaticon-idea:before { content: "\f107"; }
.flaticon-linkedin:before { content: "\f108"; }
.flaticon-twitter:before { content: "\f109"; }


.fi-3x {
	font-size: 50px;
}


body {
	color: #999;
	font-size: 1em;
	line-height: 1.4;
	font-family: arial;
}


hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:1em 0;
	padding:0;
}

.text-center {
	text-align: center;
}

.topo {
	background:url(../images/background.jpg) no-repeat center center;
	color:#fff;
	font-family:'Source Sans Pro',sans-serif;
	font-weight:200;
}
.topo .row {
	min-height: 450px;
}
.topo .img-rounded {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	width: 120px;
	margin: auto;
	border: 2px #fff solid;
}
.topo h1 {
	text-align:center;
	color:#fff;
	font-weight:700;
	font-size:65px;
	text-transform:uppercase;
	margin:0;
	line-height:100%
}
.topo .subtitle {
	text-align:center;
	margin:0;
	font-size:26px;
	line-height:100%;
	padding: 15px 15% 0 15%;
}
.topo a {
	color:#fff;
}


/* Conteudo */

.conteudo {
	padding: 40px 0;
	font-size: 12px;
}
.conteudo h2 {
	margin: 0 0 10px 0;
	font-size: 15px;
}
.conteudo h2 a {
	color: #666;
}
.conteudo h4 {
	margin: 10px 0 0 0;
	font-size: 15px;
}
.conteudo [class^="flaticon-"], .content [class*=" flaticon-"] {
	border: 2px #999 solid;
	padding: 20px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	display: block;
	width: 70px;
	height: 70px;
	margin: auto;
}




/* Rodapé */
.rodape {
	font-size: 11px;
	color: #b7b7b7;
	text-align: center;
	padding: 20px 0;
}
.rodape .email {
	font-size: 13px;
	line-height: 20px;
}
.rodape .redes-sociais {
	margin-bottom: 30px;
}
.rodape .redes-sociais a {
	font-size: 35px;
	color: #ccc;
  	text-decoration: none;
  	margin: 0 8px;
}
.rodape .redes-sociais a:hover {
	color: #999;
}
.rodape hr {
	border-top: 1px dotted #ddd;
	margin-bottom: 0;
}
.rodape .coffee-love {
	padding: 20px 0 0 0;
}
.rodape .coffee-love .flaticon-coffee {
	font-size: 16px;
}





@media screen and (max-width: 768px) {

	.topo h1 {
		font-size: 50px;
	}


}




@media screen and (max-width: 480px) {

	.topo .row {
		min-height: 500px;
	}

	.topo h1 {
		font-size: 30px;
	}

	.content {
		text-align: center;
	}

	.content .text-center {
		flex-basis: 100% !important;
		max-width: 100% !important;
	}

}


