

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-behance:before { content: "\f100"; }
.flaticon-browser:before { content: "\f101"; }
.flaticon-code:before { content: "\f102"; }
.flaticon-coffee:before { content: "\f103"; }
.flaticon-core:before { content: "\f104"; }
.flaticon-facebook:before { content: "\f105"; }
.flaticon-github:before { content: "\f106"; }
.flaticon-idea:before { content: "\f107"; }
.flaticon-linkedin:before { content: "\f108"; }
.flaticon-twitter:before { content: "\f109"; }


.fi-3x {
	font-size: 50px;
}

html, body {
	height: 100%;
}


body {
	color: #999;
	font-size: 1em;
	line-height: 1.4;
	font-family: arial;
	background:url(../images/background.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}

.content, .container-fluid, .row.middle-xs {
	height: 100%;
}


/* Content */

.content {
	font-size: 12px;
	color: #c3bdd0;
}
.content .text-content {
	margin: auto;
	max-width: 650px;
	font-size: 14px;
}
.content .text-content a {
	color: #fff;
}



/* Redes soociais */
.social {
	padding: 30px 0;
}
.social a {
	font-size: 35px;
	color: #ccc;
  	text-decoration: none;
  	margin: 0 8px;
}
.social a:hover {
	color: #999;
}



@media screen and (max-width: 768px) {
	.content .item-title img {
		max-width: 430px;
	}
}


@media screen and (max-width: 480px) {

	.content .item-title img {
		width: 100%;
	}
	.social a {
		font-size: 26px;
		margin: 0 6px;
	}
	.social .email {
		padding-top: 10px;
		display: block;
	}
	.content [class^="col-"], .content [class*="col-"] {
		flex-basis: 100% !important;
		max-width: 100% !important;
	}

}

